.learn_canvas {
  :global {
    .content {
      width: 375px;
      text-align: center;
      font-family: SourceHanSerifCN-Medium;
    }

    .content_header {
      margin-top: 28px;
      margin-bottom: 6px;
      font-size: 20px;
      line-height: 21px;
      color: #323233;
    }

    .content_expire {
      font-size: 16px;
      line-height: 21px;
    }
  }
}
